# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django migration cache
*/migrations/__pycache__/

# Local settings or secret keys (if any)
*.env

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Test caches
.pytest_cache/
coverage/
htmlcov/

# Temporary files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo

node_modules/
